        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('road.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-attachment: fixed;
        }

		.traffic-light-pole {
			width: 20px;
			height: 500px;
			position: absolute;
			top: 0;
			background-color: black;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

        .traffic-light {
            width: 90px;
            height: 300px;
            background-color: #000;
            border-radius: 50px;
            padding: 15px;
            display: flex;
			align-items: center;
            flex-direction: column;
            justify-content: space-around;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .light {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            opacity: 0.3;
            transition: opacity 0.5s;
        }

        .red {
            background-color: red;
        }

        .yellow {
            background-color: yellow;
        }

        .pink {
            background-color: pink;
        }